/* Inverted color scheme */

*:not(a) {
    background-color: blue !important;
    
}
* {
    color: white !important;
}
  /* SCROLLBAR BEGIN */
/* FIREFOX */
#menu,#page-cont {
    scrollbar-color: #fff #00f;
  }

/* EVERYONE ELSE*/
  /* Track */
  ::-webkit-scrollbar-track {
      background-color: #00f;
}
  
/*   Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }  

  /* SCROLLBAR END */

  /* change hamburger menu color */
 .navbar-toggler-icon.custom-toggler {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.menu-item, ul ,li{
    background-color: rgba(0,0,0,0) !important;
}

#overlay{
  background-color: #00f;
}